@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Slabo+27px&display=swap');

html
{
    font-family: 'Slabo 27px', serif;
    background: rgb(137,0,255);
background: linear-gradient(90deg, rgba(137,0,255,1) 26%, rgba(113,0,255,1) 30%, rgba(0,0,255,1) 45%, rgba(0,255,235,1) 100%);
}